* {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  margin: 0;
  border: none;

  /* so that when you added any padding or margin to an elemt, it doesn't affect the width of it */
}
