* {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  margin: 0;
  border: none;

  /* so that when you added any padding or margin to an elemt, it doesn't affect the width of it */
}

body {
  background-color: #1d2432;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.whole {
  background-color: #000;
  width: 97vw;
  max-width: 270px;
  height: fit-content;
  padding: 7px 0;
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: 0 0 10px;
}

.ans {
  border: none;
  border-radius: 20px 0;
}

.ans .show-ans {
  background-color: #000;
  color: #fff;
  height: fit-content;
  min-height: 2.5cm;
  text-align: end;
  font-size: 35px;
  word-break: break-all;
  border-radius: 10px 10px 0 0;
  padding: 20px 10px;
}

.ans .show-working {
  transition: 400ms;
  padding: 5px 10px;
  color: #fff;
  width: calc(100% - 2px);
  height: fit-content;
  min-height: 50px;
  font-size: 30px;
  text-align: end;
  word-wrap: break-word;
  margin: 0 auto;
}

.section2 {
  font-size: 20px;
  border: none;
  width: 100%;
}

.section2 button {
  font-size: 1rem;
}

.section2 .sub-section1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px 5px;
  padding-top: 10px;
}

.sub-section2 {
  border: none;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 10px auto;
  padding-left: 3px;
}

.column-operators {
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.row-operators {
  background-color: #808080;
  color: #000;
  border: none;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: auto;
}

.section2 .btn {
  border: none;
  background-color: #383535;
  color: #fff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: auto;
}

.section2 .zero {
  background-color: #383535;
  color: #fff;
  border: none;
  border-radius: 100px;
  width: 100%;
  font-size: 1cm;
  text-align: left;
  padding-left: 15%;
}

@media only screen and (min-width: 768px) {
  .whole button:hover {
    transition: 0.4s;
    background-color: lightgray;
    color: #000;
  }
}
